:root {
    --fs-md: 24px;
    --fs-2xl: 64px;
}

.fs-md {
    font-size: var(--fs-md) !important;
}

.fs-2xl {
    font-size: var(--fs-2xl) !important;
}

@media (max-width: 992px) {
    :root {
        --fs-md: 20px;
        --fs-2xl: 48px;
    }

}

@media (max-width: 768px) {
    :root {
        --fs-md: 18px;
        --fs-2xl: 40px;
    }

}

@media (max-width: 576px) {
    :root {
        --fs-md: 16px;
        --fs-2xl: 36px;
    }

}

@media (max-width: 430px) {
    :root {
        --fs-md: 14px;
        --fs-2xl: 18px;
    }

}