* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(-45deg, #ff416c, #ff4b2b, #1a2a6c, #0099f7);
    background-size: 400% 400%;
    animation: gradientBG 10s infinite ease-in-out;
    color: white;
}

.header-heading {
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
    animation: waveText 3s infinite alternate ease-in-out;
}

.cooding-para {
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
    animation: waveText 3s infinite alternate ease-in-out;
}

.white-space {
    white-space: nowrap;
}

.d-flex {
    display: flex;
}

.gap-18 {
    gap: 18px;
}

.animate__slow {
    animation-duration: 4s !important;
}


@keyframes waveText {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(10px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}